body {
    padding-top: 55px;
}

.info-danger {
    background-color: #FCF2F2;
    border-left: 5px solid #DFB5B4;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}

sup.required {
    color: #880000;
    font-weight: bold;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.navbar-brand {
    font-size: 12px;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(119, 119, 119);
    border-top: 1px solid rgb(229, 229, 229);
}